*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin:0;
}
body{
  font-size:62.5%;
  font-family:'Share','arial',sans-serif;
  background-image: url(site_bg.png);
  background-color:black;
}
header{
  background:rgba(0,0,0,0.7);
  color:orange;
}
h1{
  font-family:'Quicksand',serif;
  font-size:6rem;
  display:inline;
  padding:1rem;
}
.user-buttons{
  float:right;
  padding:1rem;
  padding-right:3rem;
}
.user-buttons a{
  font-size:1.4rem;
  width:100%;
  text-align:center;
  text-decoration: none;
  float:left;
  clear:both;
  padding:0.4rem;
  background-color:rgba(255,255,255,0.7);
  border-radius:6px;
  color:black;
  margin:0.2rem;
  font-weight:bold;
  transition: 1s ease;
}
.user-buttons a:visited,
.user-buttons a:active,
.user-buttons a:focus{
  color:black;
}
.user-buttons a:hover,
form input[type=submit]:hover{
  background:none;
  -webkit-box-shadow: inset 0px 0px 91px 6px rgba(255,165,0,1);
  -moz-box-shadow: inset 0px 0px 91px 6px rgba(255,165,0,1);
  box-shadow: inset 0px 0px 91px 6px rgba(255,165,0,1);
}
.notice,.alert{
  color:white;
}
.links a{
  font-size:1.2rem;
  font-weight:bold;
  color:black;
}
.cf:after{
  content:'';
  display:table;
  clear:both;
}
main{
  min-height:70vh;
}
footer{
  margin-top:3rem;
  background-color: rgba(0,0,0,0.7);
  padding:1rem;
  font-size:1.2rem;
  color:orange;
  text-align: center;
}
footer a:visited,
footer a:active,
footer a:focus{
  color:orange;
}
footer a:hover{
  color:white;
}
form{
  padding:1rem;
  margin: 1rem auto;
  width:50%;
  border-radius:10px;
  background:rgba(255,255,255,0.5);
  text-align:center;
}
form input[type=text],
form input[type=email],
form input[type=password],
form input[type=date],
form input[type=submit],
form label{
  width:80%;
  font-size:1.6rem;
  border-radius:6px;
  padding:0.4rem;
  margin:0.6rem;
  font-weight:bold;
  font-family: 'Quicksand',sans-serif;
  transition:1s ease;
  border:none;
}
form input[type=text]:focus,
form input[type=email]:focus,
form input[type=password]:focus,
form input[type=date]:focus{
  outline:none;
  background:none;
  color:black;
  -webkit-box-shadow: inset 0px 0px 91px 6px rgba(255,165,0,1);
  -moz-box-shadow: inset 0px 0px 91px 6px rgba(255,165,0,1);
  box-shadow: inset 0px 0px 91px 6px rgba(255,165,0,1);
}
form input[type=submit]{
  width:40%;
  margin:1.2rem;
  cursor:pointer;
  transition:1s ease;
}
form select{
  font-size:1.6rem;
  border-radius:6px;
}
form input[type=checkbox]{
  width:1.2rem;
  height:1.2rem;
}
::-webkit-input-placeholder {
   color: black;
}
:-moz-placeholder { /* Firefox 18- */
   color: red;
}
::-moz-placeholder {  /* Firefox 19+ */
   color: black;
}
:-ms-input-placeholder {
   color: black;
}
#map{
  height:500px;
  width:50%;
  margin:2rem;
}
.sidepane{
  position:relative;
  width:40%;
  height:500px;
  float:left;
}
.event-list{
  position:absolute;
  height:100%;
  width:100%;
  overflow-y: scroll;
}
.event{
  height:100px;
  background-color:white;
  padding:1rem;
  text-align: center;
}
.event p{
  font-size:1.6rem;
  color:black;
}
.event form{
  padding:0;
  margin:0 auto;
  width:25%;
}
.event a{
  font-size:1.2rem;
  margin:0;
}
/*ul{
  float:left;
  width:40%;
  background-color:white;
}*/
