*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin:0;
}
body{
  font-size:62.5%;
  font-family:'Raleway','arial',sans-serif;
  background-image: url(site_bg.png);
}
header{
  background:rgba(0,0,0,0.7);
  color:orange;
}
h1{
  font-family:'Bitter',serif;
  font-size:6rem;
  display:inline;
  padding:1rem;
}
.user-buttons{
  float:right;
  padding:1rem;
  padding-right:3rem;
}
.user-buttons a{
  font-size:1.4rem;
  width:100%;
  text-align:center;
  text-decoration: none;
  float:left;
  clear:both;
  padding:0.4rem;
  background-color:rgba(255,255,255,0.7);
  border-radius:6px;
  color:black;
  margin:0.2rem;
}
.user-buttons a:visited,
.user-buttons a:active,
.user-buttons a:hover,
.user-buttons a:focus{
  color:black;
}
.cf:after{
  content:'';
  display:table;
  clear:both;
}
footer{
  margin-top:3rem;
  background-color: black;
  padding:1rem;
  font-size:1.2rem;
  color:orange;
  text-align: center;
}
form{
  padding:1rem;
  margin: 1rem auto;
  width:50%;
  border-radius:10px;
  background:rgba(255,255,255,0.5);
  text-align:center;
}
/*form label{
  font-size:1.4rem;
  font-weight:bold;
}
form em{
  font-size:1rem;
}*/
form input[type=text],
form input[type=email],
form input[type=password]{
  width:80%;
  font-size:1.6rem;
  border-radius:6px;
  padding:0.4rem;
  margin:0.6rem;
}
